@import url("https://fonts.googleapis.com/css?family=Merriweather:400,900|Six+Caps&display=swap");
body {
  color: #F7F9F9;
  font-family: "Merriweather", serif;
  line-height: 1.6;
  background: #FFFFFF;
  font-size: 0.875rem;
  overflow-x: hidden;
  font-weight: normal;
  margin: 0;
}

@media only screen and (min-width: 1056px) {
  body {
    font-size: 1.125rem;
  }
}

img {
  width: 100%;
}

h1 {
  color: #00D87E;
  line-height: 1;
  font-size: 3.1rem;
  font-weight: normal;
}

h2 {
  letter-spacing: 0.15em;
  font-size: 2rem;
  color: #F7F9F9;
  text-transform: uppercase;
  line-height: 1;
  font-family: "Six Caps", sans-serif;
  font-weight: normal;
}

@media only screen and (min-width: 1056px) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.2rem;
}

/* Homepage */

.welkom {
  background-image: url("../img/welkom-img.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welkom h1 {
  color: #008148;
  font-size: 2.1rem;
  line-height: 1.5;
  text-align: center;
}

@media only screen and (min-width: 1056px) {
  .welkom h1 {
    font-size: 3vw;
  }
}

.welkom h1 span {
  letter-spacing: 0.15em;
  font-size: 5.3rem;
  color: #00D87E;
  text-transform: uppercase;
  line-height: 1;
  font-family: "Six Caps", sans-serif;
  display: block;
}

@media only screen and (min-width: 1056px) {
  .welkom h1 span {
    font-size: 10vw;
  }
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #C2C6BE;
}

.intro h2 {
  text-align: center;
  color: #F7F9F9;
}

@supports (display: grid) {
  .intro {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(4em, 1fr) minmax(auto, 30em) minmax(4em, 1fr);
    grid-template-columns: minmax(4em, 1fr) minmax(auto, 30em) minmax(4em, 1fr);
  }
}

.intro-midden {
  background-color: #008148;
  padding: 2.5em 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.intro-links img,
.intro-rechts img {
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  display: block;
}

.over-mij {
  width: 90%;
  margin: 0 auto;
  max-width: 1056px;
  margin-top: 6em;
}

h1 {
  font-size: 2.8rem;
}

h3 {
  color: #008148;
  margin: 0;
}

.over-subtitel {
  margin: 0.5em 0;
}

.profiel-knop,
.home-knop {
  display: block;
  margin: 2em auto 1em auto;
  padding: 1em 1.5em;
  background-color: #00D87E;
  border-radius: 8%;
  color: #008148;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

.over-afbeelding {
  float: none;
}
.over-mij {
  display: flex;
  flex-direction: column;
}
.over-afbeelding {
  grid-column: port-start / img-end;
  grid-row: 1;
}

.over-titel {
  grid-row: 3;
}

@supports (display: grid) {

  @media only screen and (min-width: 1056px) {
    .over-mij {
      margin: 5em auto;
      display: grid;
      grid-template-columns: [port-start] minmax(6em, 1fr) [img-end] 2fr [port-end];
      grid-template-rows: 2fr repeat(4, 0.5fr);
    }
    .over-afbeelding {
      grid-row: 1 / 4;
      width: 75%;
    }
  }

  @media (min-width: 1056px) {
    .over-titel {
      grid-column: img-end / port-end;
      grid-row: 1;
    }

    .over-subtitel {
      grid-column: img-end / port-end;
      position: relative;
      bottom: 4.7em;
    }

    h3 {
      display: block;
    }

    img {
      width: 50%;
    }

  }
}

.menu-knop {
  position: absolute;
  top: 1em;
  left: 1em;
  color: #008148;
  background: transparent;
  border: 0;
  font-size: 2rem;
  z-index: 2;
}

/* Navigation Section */

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 20%;
  z-index: 1;

  transform: translateX(-100%);
  display: none;
  transition: transform ease-out 250ms;
  font-weight: normal;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  background-color: #00D87E;
}

nav a {
  font-family: 'Six Caps', sans-serif;
  font-size: 4rem;
  color: #008148;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 3em;
}

nav li {
  text-align: center;
}


.nav-is-open-mobile,
.nav-is-open-desktop {
  overflow-y: hidden;
}

.nav-is-open-desktop nav,
.nav-is-open-mobile nav {
  display: block;
}

.nav-is-open-mobile nav {
  transform: translateX(0);
}

.nav-is-open-mobile .contain-welkom {
  transform: translateX(80%);
}

.nav-is-open-desktop {
  transform: translateX(20%)
}

.nav-is-open-mobile {
  /*transform: translateX(20%);*/
}
.contain-welkom {
  transition: transform ease-out 250ms;
}

@media only screen and (min-width: 1056px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 80%;
    bottom: 0;
    z-index: 1;
    transform: translateX(-100%);
    transition: transform ease-out 250ms;
  }
}

/* Profile Page */

.profiel-container h1{
  font-family: 'Six Caps', sans-serif;
  font-size: 5rem;
  letter-spacing: 0.75rem;
  font-weight: normal;
  color: #008148;
  text-align: center;
}

.profiel-container span {
  color: #008148;
}

.profiel-container p {
  color: #00D87E;
  font-size: 1.5rem;
  margin: 1.5em auto
}

.kwaliteiten p {
  width: 11em;
}

.motieven p {
  width: 9em;
}

.profiel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 2em;
}

@media only screen and (min-width: 1000px) {
  .profiel-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/* Project Page */


.projecten {
  text-align: center;
  padding: 5em 0;
}

.project-item {
  position: relative;
  overflow: hidden;
}

.project-item img {
  display: block;
}

.project-item figcaption {
  position: absolute;
  top: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 2em;
  background: rgba(0, 216, 126, 0.75);
  color: #008148;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.project-item:hover figcaption {
  top: 0;
}

.project-item:hover .project-titel {
  display: flex;
}

.project-titel {
  display: none;
  color: #F7F9F9;
  font-size: 3.7rem;
  letter-spacing: 0.5rem;
  margin-bottom: auto;
}

.project-link {
  color: #F7F9F9;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  border-bottom: 2px solid #F7F9F9;
  align-self: flex-start;
}

@media only screen and (min-width: 1056px) {
  .project-item {
    /*margin: 0 auto;*/
    padding: 0;
    justify-content: center;
  }

  .project-item img {
    margin: 0 auto;
  }
}